@require 'base'

header
  .header_wrapper
    padding-right: 1rem
    line-height: var(--height)
    display: flex
    align-items: center
    justify-content: flex-end
    & > .item
      color: $color(.688)
      font-size: 1rem
      cursor: pointer
      padding: 0 .88rem
      &.icon
        text-decoration: none
        font-size: 1.58rem
      &:hover
        color: $color()
