@require 'base'

$title_height = 2.5rem

nav
  width: 16rem
  background: $color_slight(2)
  .drawer_container
    height: 100%
    display: flex
    flex-direction: column
    & > div
      transition: flex .3s ease
      flex-basis: $title_height
      overflow: hidden
      &:first-child
        border-bottom: 1px solid $color_slight(2)
      .title
        display: flex
        align-items: center
        justify-content: space-between
        height: $title_height
        padding: 0 1.5rem
        cursor: pointer
        background: $color_slight(2)
        user-select: none
        font-weight: bold
        color: $color(.68)
        &:hover .triangle
          color: $color(.6)
        .triangle
          font-size: 8px
          color: $color(.38)
          transition: all .3s
          transform: var(--rotate)
      .body
        max-height: s('calc(100% - %s)', $title_height)
        overflow-y: auto
        a
          display: block
          padding: 0 1.5rem
          line-height: 2.5
          color: $color(.8)
          text-decoration: none
          max-width: 100%
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          &:hover, &.selected
            color: $color()
            background: $color_slight(3)
