#mess-reader
  flex: 1
  display: flex
  & > .left, & > .right
    width: 3rem
    font-size: 2rem
    font-weight: 1000
    opacity: .2
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    &:hover
      opacity: .6
  & > .left::after, & > .right::after
    display: block
    transform: scale(1, 2)
  & > .left::after
    content: '<'
  & > .right::after
    content: '>'

  & > .reader
    flex: 1