@require 'base'

.radio_btns_container
  display: flex
  flex-wrap: wrap
  align-items: center
  label, input
    cursor: pointer
  label
    display: flex
    align-items: center
    margin-right: 2em
  input[type=radio]
    font-size: inherit
    display: inline-flex
    align-items: center
    justify-content: center
    visibility: hidden
    padding: 0
    margin: 0
    margin-right: .5em
    position: relative
    width: 1em
    height: 1em
    &::before, &::after
      content: ''
      display: block
      position: absolute
      visibility: visible
      border-radius: 50%
    &::before
      border: 1px solid $color(.8)
      top: 0
      right: 0
      bottom: 0
      left: 0
    &::after
      width: .5em
      height: .5em
      background: $color(.38)
    &:checked::after
      background: $color()

