@require '../../style/base'

header
  background: $color_slight(2)
  .header_wrapper
    padding: 0 1rem
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    & > .item
      color: $color(.5)
      font-size: .9rem
      cursor: pointer
      &.icon
        text-decoration: none
        padding-left: 1rem
      &:not(.icon)
        padding: 0 1rem
        border-right: 1px solid $color(.2)
      &:hover
        color: $color()
