@require './cmp/triangle'

html, body
  margin: 0
  padding: 0

*
  box-sizing: border-box

html
  --color_base: 0,0,0 /* 写在 css 里的变量能通过 js 改写 */
  --color_back_base: 255,255,255

  font-size: 16px

.link
  outline: none
  border: none
  background: transparent
  color: #3478f3
  cursor: pointer
