@require './base'
@require './cmp/triangle'

html, body
  margin: 0
  padding: 0

*
  box-sizing: border-box

html
  font-size: 16px
body
  /* 下面的变量在 header 组件里被重新设置 */
  --color_base: 0,0,0 /* 写在 css 里的变量能通过 js 改写 */
  --color_back_base: 255,255,255
  --alpha_slight: .01

  color: $color()
  background-color: $color_back()
  line-height: 1

.link
  outline: none
  border: none
  background: transparent
  color: #3478f3
  cursor: pointer

::-webkit-scrollbar
  width: .6rem
:hover::-webkit-scrollbar-track
  background: $color_back(.0188)
::-webkit-scrollbar-thumb
  background: $color(.1)
:hover::-webkit-scrollbar-thumb
  background: $color(.3)
