@require 'base'

.dialog_setting_theme
  .fields
    padding: 2rem 4rem
  .row
    display: flex
    width: 20em
    .key
      width: 4rem
      text-align: right
      margin-right: 2rem
      opacity: .68
      font-weight: bold
