@require 'base'

.dialog_setting_theme
  line-height: 2.5
  .fields
    padding: 2rem
  .row
    display: flex
    width: 33em
    & + .row
      margin-top: 1rem
    .key
      width: 5rem
      white-space: nowrap
      text-align: right
      margin-right: 3rem
      opacity: .68
      font-weight: bold
    .radio_btns_container
      flex: 1
      label
        width: 6rem
        margin-right: 0
