/* https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=4190625 */

@font-face {
  font-family: 'iconfont';
  src: url('index.woff2') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont.close:before {
  content: "\e61f";
}

.iconfont.setting:before {
  content: "\e605";
}

.iconfont.github:before {
  content: "\e6f6";
}

